html
  body
    form(action="/create", method="post")
      div.form-group
        label(for='email') Email:
        input#email.form-control(type='email', placeholder='name@email.com' name='email')
      button.btn.btn-primary(type='submit') Sign up